In [1]:
import json
import glob
import pandas as pd

In [3]:
pd.read_json('newTweets.json', orient="index").head()

,text,created_at,public_metrics,id
2017-07-22 16:21:01.115461632,"You are my favorite hello,\nAnd my hardest goo...",2022-03-07 07:49:42+00:00,"{'retweet_count': 6122, 'reply_count': 4693, '...",1500740461115461632
2017-07-22 13:29:25.239988227,@hiromichimizuno @GailAlfarATX @Tesla @TeslaSo...,2022-03-07 07:08:48+00:00,"{'retweet_count': 277, 'reply_count': 214, 'li...",1500730165239988224
2017-07-21 11:05:05.953419265,@GailAlfarATX @Tesla @TeslaSolar @japan @vigol...,2022-03-07 00:51:04+00:00,"{'retweet_count': 247, 'reply_count': 261, 'li...",1500635105953419264
2017-07-21 07:27:26.987882504,RT @Tesla: Giga Berlin darf erÃ¶ffnen ðŸ‡©ðŸ‡ªðŸš˜ \n\nC...,2022-03-06 23:59:10+00:00,"{'retweet_count': 1629, 'reply_count': 0, 'lik...",1500622046987882496
2017-07-21 07:18:30.188285956,Also nuclear is vastly better for global warmi...,2022-03-06 23:57:02+00:00,"{'retweet_count': 8313, 'reply_count': 2425, '...",1500621510188285952

In [4]:
with open('newTweets.json') as json_file:
    data = json.load(json_file)
data = [d for d in data.values()]
new_tweets = pd.json_normalize(data)
new_tweets.head(1)

,text,created_at,id,public_metrics.retweet_count,public_metrics.reply_count,public_metrics.like_count,public_metrics.quote_count
0,"You are my favorite hello,\nAnd my hardest goo...",2022-03-07T07:49:42.000Z,1500740461115461632,6122,4693,44162,1108

In [5]:
kaggle_tweets = pd.read_csv("tweets/2021.csv")
kaggle_tweets.head(1)

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,1373819373090050048,1373669212271566858,1.616379e+12,2021-03-22 02:10:37,0,NaN,@bluemoondance74 @NASASpaceflight Going well. ...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'bluemoondance74', 'name': 'R...",NaN,NaN,NaN,NaN

In [6]:
print(kaggle_tweets.columns, new_tweets.columns, sep="\n")

Index(['Unnamed: 0', 'id', 'conversation_id', 'created_at', 'date', 'timezone',
       'place', 'tweet', 'language', 'hashtags', 'cashtags', 'user_id',
       'user_id_str', 'username', 'name', 'day', 'hour', 'link', 'urls',
       'photos', 'video', 'thumbnail', 'retweet', 'nlikes', 'nreplies',
       'nretweets', 'quote_url', 'search', 'near', 'geo', 'source',
       'user_rt_id', 'user_rt', 'retweet_id', 'reply_to', 'retweet_date',
       'translate', 'trans_src', 'trans_dest'],
      dtype='object')
Index(['text', 'created_at', 'id', 'public_metrics.retweet_count',
       'public_metrics.reply_count', 'public_metrics.like_count',
       'public_metrics.quote_count'],
      dtype='object')

In [18]:
# TODO Need to remove \n in new tweets.
# TODO get all date in same format.

kaggle_tweets_map = {}
kaggle_tweets_drop = ['Unnamed: 0', 'conversation_id', 'date', 'timezone', 'place', 'language', 'hashtags', 'cashtags', 'user_id', 
                     'user_id_str', 'username', 'name', 'day', 'hour', 'link', 'urls', 
                     'photos', 'video', 'thumbnail', 'retweet', 
                     'quote_url', 'search', 'near', 'geo', 'source', 
                     'user_rt_id', 'user_rt', 'retweet_id', 'reply_to', 'retweet_date',
                     'translate', 'trans_src', 'trans_dest']

new_tweets_map = {'text': 'tweet',
                  'public_metrics.retweet_count': 'nretweets',
                  'public_metrics.reply_count': 'nreplies',
                  'public_metrics.like_count': 'nlikes'}
new_tweets_drop = ['public_metrics.quote_count']

edited_kaggle_tweets = kaggle_tweets.rename(columns=kaggle_tweets_map).drop(columns=kaggle_tweets_drop)

edited_new_tweets = new_tweets.rename(columns=new_tweets_map).drop(columns=new_tweets_drop)
edited_new_tweets['tweet'].replace(to_replace=r'\n', value=' ', regex=True, inplace=True) 

edited_new_tweets['created_at'] = pd.to_datetime(edited_new_tweets['created_at'], infer_datetime_format=True)
edited_kaggle_tweets['created_at'] = pd.to_datetime(edited_kaggle_tweets['created_at'],  unit='ms')


print(edited_kaggle_tweets.columns, edited_new_tweets.columns, sep="\n")

Index(['id', 'created_at', 'tweet', 'nlikes', 'nreplies', 'nretweets'], dtype='object')
Index(['tweet', 'created_at', 'id', 'nretweets', 'nreplies', 'nlikes'], dtype='object')

In [19]:
pd.concat([edited_new_tweets, edited_kaggle_tweets], ignore_index=True, verify_integrity=True)[['id', 'created_at', 'tweet', 'nlikes', 'nreplies', 'nretweets']].to_csv("tweets/alltweets.csv")